# Compiled output
target/

# Local Maven binaries
apache-maven-*/
maven.tar.gz
tools/
bin/

# IDE files
.idea/
*.iml
.vscode/settings.json

# macOS system files
.DS_Store

# Jackson backup file created on corrupt JSON
*.json.bak
